fastapi>=0.110.0
uvicorn[standard]>=0.28.0
pydantic-settings>=2.2.0    # Для удобного конфига из .env
sqlalchemy>=2.0.0           # Основная ORM
alembic>=1.13.0             # Для миграций базы данных
asyncpg>=0.29.0             # Асинхронный драйвер для PostgreSQL
python-jose[cryptography]  # Для работы с JWT-токенами
passlib[bcrypt]             # Для хеширования паролей